@import "tailwindcss";

@layer base {

  /* 
     Em vez de *, focamos nos grandes vilões:
     html, body e os containers principais.
  */
  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Garante que o fundo ocupe a altura toda */
  }
}